cnrl/Properties/Web.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:schemas-microsoft-com:asm.v1" />
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="configSections">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="section">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                  <xs:attribute name="requirePermission" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="sectionGroup">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="section">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="type" type="xs:string" use="required" />
                        <xs:attribute name="requirePermission" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="connectionStrings">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="add">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="connectionString" type="xs:string" use="required" />
                  <xs:attribute name="providerName" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="appSettings">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="add">
                <xs:complexType>
                  <xs:attribute name="key" type="xs:string" use="required" />
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="system.web">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="httpRuntime" />
              <xs:element name="compilation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="assemblies">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="add">
                            <xs:complexType>
                              <xs:attribute name="assembly" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="debug" type="xs:boolean" use="required" />
                  <xs:attribute name="targetFramework" type="xs:decimal" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="authentication">
                <xs:complexType>
                  <xs:attribute name="mode" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="pages">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="namespaces">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="add">
                            <xs:complexType>
                              <xs:attribute name="namespace" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="controls">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="add">
                            <xs:complexType>
                              <xs:attribute name="tagPrefix" type="xs:string" use="required" />
                              <xs:attribute name="namespace" type="xs:string" use="required" />
                              <xs:attribute name="assembly" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="controlRenderingCompatibilityVersion" type="xs:decimal" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="profile">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="providers">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="add">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="type" type="xs:string" use="required" />
                              <xs:attribute name="connectionStringName" type="xs:string" use="required" />
                              <xs:attribute name="applicationName" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="defaultProvider" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="membership">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="providers">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="add">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="type" type="xs:string" use="required" />
                              <xs:attribute name="connectionStringName" type="xs:string" use="required" />
                              <xs:attribute name="enablePasswordRetrieval" type="xs:boolean" use="required" />
                              <xs:attribute name="enablePasswordReset" type="xs:boolean" use="required" />
                              <xs:attribute name="requiresQuestionAndAnswer" type="xs:boolean" use="required" />
                              <xs:attribute name="requiresUniqueEmail" type="xs:boolean" use="required" />
                              <xs:attribute name="maxInvalidPasswordAttempts" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="minRequiredPasswordLength" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="minRequiredNonalphanumericCharacters" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="passwordAttemptWindow" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="applicationName" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="defaultProvider" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="roleManager">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="providers">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="add">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="type" type="xs:string" use="required" />
                              <xs:attribute name="connectionStringName" type="xs:string" use="required" />
                              <xs:attribute name="applicationName" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="defaultProvider" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="sessionState">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="providers">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="add">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="type" type="xs:string" use="required" />
                              <xs:attribute name="connectionStringName" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="mode" type="xs:string" use="required" />
                  <xs:attribute name="customProvider" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="httpHandlers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="add">
                      <xs:complexType>
                        <xs:attribute name="type" type="xs:string" use="required" />
                        <xs:attribute name="verb" type="xs:string" use="required" />
                        <xs:attribute name="path" type="xs:string" use="required" />
                        <xs:attribute name="validate" type="xs:boolean" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="httpModules">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="add">
                      <xs:complexType>
                        <xs:attribute name="type" type="xs:string" use="required" />
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="globalization">
                <xs:complexType>
                  <xs:attribute name="culture" type="xs:string" use="required" />
                  <xs:attribute name="uiCulture" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="customErrors">
                <xs:complexType>
                  <xs:attribute name="mode" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="system.webServer">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="validation">
                <xs:complexType>
                  <xs:attribute name="validateIntegratedModeConfiguration" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="modules">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="add">
                      <xs:complexType>
                        <xs:attribute name="type" type="xs:string" use="required" />
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="runAllManagedModulesForAllRequests" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="handlers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="add">
                        <xs:complexType>
                          <xs:attribute name="type" type="xs:string" use="optional" />
                          <xs:attribute name="verb" type="xs:string" use="required" />
                          <xs:attribute name="path" type="xs:string" use="required" />
                          <xs:attribute name="name" type="xs:string" use="required" />
                          <xs:attribute name="preCondition" type="xs:string" use="required" />
                          <xs:attribute name="modules" type="xs:string" use="optional" />
                          <xs:attribute name="scriptProcessor" type="xs:string" use="optional" />
                          <xs:attribute name="responseBufferLimit" type="xs:unsignedByte" use="optional" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="unbounded" name="remove">
                        <xs:complexType>
                          <xs:attribute name="name" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="staticContent">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="remove">
                      <xs:complexType>
                        <xs:attribute name="fileExtension" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" name="mimeMap">
                      <xs:complexType>
                        <xs:attribute name="fileExtension" type="xs:string" use="required" />
                        <xs:attribute name="mimeType" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="runtime">
          <xs:complexType>
            <xs:sequence>
              <xs:element xmlns:q1="urn:schemas-microsoft-com:asm.v1" ref="q1:assemblyBinding" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="devExpress">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="themes">
                <xs:complexType>
                  <xs:attribute name="enableThemesAssembly" type="xs:boolean" use="required" />
                  <xs:attribute name="styleSheetTheme" type="xs:string" use="required" />
                  <xs:attribute name="theme" type="xs:string" use="required" />
                  <xs:attribute name="customThemeAssemblies" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="compression">
                <xs:complexType>
                  <xs:attribute name="enableHtmlCompression" type="xs:boolean" use="required" />
                  <xs:attribute name="enableCallbackCompression" type="xs:boolean" use="required" />
                  <xs:attribute name="enableResourceCompression" type="xs:boolean" use="required" />
                  <xs:attribute name="enableResourceMerging" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="settings">
                <xs:complexType>
                  <xs:attribute name="doctypeMode" type="xs:string" use="required" />
                  <xs:attribute name="rightToLeft" type="xs:boolean" use="required" />
                  <xs:attribute name="embedRequiredClientLibraries" type="xs:boolean" use="required" />
                  <xs:attribute name="ieCompatibilityVersion" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="errors">
                <xs:complexType>
                  <xs:attribute name="callbackErrorRedirectUrl" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="entityFramework">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="defaultConnectionFactory">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="parameters">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="parameter">
                            <xs:complexType>
                              <xs:attribute name="value" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="providers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="provider">
                      <xs:complexType>
                        <xs:attribute name="invariantName" type="xs:string" use="required" />
                        <xs:attribute name="type" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>